body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

hr {
    background: #e9910f;
}


.card.text-white {
    border: ridge;
}

.emp-profile {
    padding-top: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #31353d;
    border-radius: 0.5rem;
    border: ridge;
    border-color: #e9910f;
    color: #818896;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 220px;
    height: 220px;
    border: ridge;
    border-color: #e9910f;
    border-radius: 10px;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h3 {
    color: #b8bfce;
}

.profile-head h6 {
    color: #e9910f;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #b8bfce;
    cursor: pointer;
    background-color: #4c4f56;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.col-md-9 .nav-tabs {
    margin-bottom: 5%;
}

.nav .nav-tabs {
    border-bottom: none;
}

.col-md-9 .nav-tabs .nav-link {
    color: #b8bfce;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid #818896;
}

.col-md-9 .nav-tabs .nav-link.active {
    background-color: #3a3f48;
    color: #e9910f;
    border: none;
    border-bottom: 2px solid #e9910f;
}

.profile-head .profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 14px;
    color: #d1820d;
    font-weight: 600;
    margin-top: 6%;
}

.profile-work a {
    text-decoration: none;
    color: #818896;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}
