body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.preview-ficha a {
    color: #818896;
    text-decoration: none;
}

.preview-ficha:hover p
{
     color:#e9910f;
     text-decoration:none;
     cursor:pointer;
}

.preview-ficha:hover a
{
     color:#e9910f;
     text-decoration:none;
     cursor:pointer;
}

hr {
    background: #e9910f;
}
.question-mark {
    color: #e9910f;
    padding-right: 1px;
    font-size: 14px;
}

.container {
    max-width: 60%;
}

.card.text-white {
    border: ridge;
}

.browse-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

.upload-icon{
    position: absolute;
    top: 50;
    left: 50;
    font-size: 50px;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.profile-img:hover .upload-icon{
  opacity: 0.8;
}

.profile-img {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    opacity:1;
    transition: all 0.5s;
}

.profile-img:hover {
  opacity: 0.3;
}

.emp-sheet {
    padding-top: 1%;
    padding-bottom: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #31353d;
    border-radius: 0.5rem;
    border: ridge;
    border-color: #e9910f;
    color: #818896;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 150px;
    height: 150px;
    border: ridge;
    border-color: #e9910f;
    border-radius: 10px;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h3 {
    color: #b8bfce;
}

.profile-head h6 {
    color: #e9910f;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #b8bfce;
    cursor: pointer;
    background-color: #4c4f56;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.row .nav-tabs {
    margin-bottom: 5%;
}

.nav .nav-tabs {
    border-bottom: none;
}

.row .nav-tabs .nav-link {
    color: #b8bfce;
    font-weight: 600;
    border: none;
    border-bottom: 1px solid #e9910f;
    border-left: 1px solid #818896;
    border-right: 1px solid #818896;
    border-top: 1px solid #818896;
    padding-left: 11px;
    padding-right: 11px;

}

.row .nav-tabs .nav-link.active {
    background-color: #31353d;
    color: #e9910f;
    border: 1px solid #e9910f;
    border-bottom: none;
}

.profile-head .profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 14px;
    color: #d1820d;
    font-weight: 600;
    margin-top: 6%;
}

.profile-work a {
    text-decoration: none;
    color: #818896;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}
