body {
    font-size: 0.9rem;
    font-family: 'Germania One', cursive;
    background: linear-gradient(to bottom, rgba(57, 49, 78, 0.9) 0%, rgba(18, 17, 22, 0.8) 100%), url(../assets/images/background.jpg);
    background-size: cover;
}

.container{
    display:flex;
    justify-content: center;
    padding-top: 30px;
}
