body {
    font-size: 0.9rem;
    font-family: 'Germania One', cursive;
    background: url(../assets/images/background2.jpg);
    background-size: cover;
}

.container{
    display:flex;
    justify-content: center;
    padding-top: 30px;
}
