@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

$laranja-principal: #e9910f;
$cards-background: #31353d;
$card-fundo-escuro: #2b2e33;
$card-meio-tom: #2c3038;
