@import "../../../../../util/sass/variables.scss";

.ui.card.card-mostrador {
  text-align: center;
  color: white;
  width: 75px;
  border: none;
  background-color: $card-fundo-escuro;
  padding: 5px 10px;
  margin: 0px 12px;
  box-shadow: none !important;
}
.ui.card.card-mostrador .content {
  padding-bottom: 0px;
  padding-top: 0px;
}

.ui.card.card-mostrador .valores {
  font-size: 38px;
}