@import "../../util/sass/variables.scss";

.container-ficha {
  display: grid;
  background-color: $cards-background;
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  border: 6px ridge $laranja-principal;
}
//TABS
.bp3-tabs > * {
  padding: 6px 6px 0px 6px;
}
.bp3-tab {
  color: white;
  &:hover {
    color: $laranja-principal !important;
  }
  &[aria-selected="true"] {
    color: $laranja-principal !important;
    outline: none;
  }
}

.bp3-tab-list > *::selection {
  background: none;
}

.bp3-tab-indicator-wrapper .bp3-tab-indicator {
  background-color: $laranja-principal;
}

.bp3-tabs .bp3-tab-list {
  background-color: $card-fundo-escuro;
  flex-wrap: wrap;
}
