.ui.checkbox .box, .ui.checkbox label{
    padding-left: 17px;
}

.ui.checkbox .box:before, .ui.checkbox label:before{
    width: 12px;
    height: 12px;
}

.ui.checkbox .box:after, .ui.checkbox label:after {
    font-size: 12px;
    top: -2px;
    width: 12px;
    height: 12px;
}
.ui.checkbox input.hidden+label{
    color:white;
}